/*------------------------------------*\
    TABLE
\*------------------------------------*/

.table{
	width: 100%;
	border-collapse: collapse;


	td, th{
		padding: 0.7em 1em;
		text-align: left;
		vertical-align: top;
	}
}


/**
 * Bordered table
 */

.table--bordered{

	th{
		background: $color-table;
		border: 1px $color-table-border solid;
	}

	td{
		border: 1px $color-table solid;
	}
}


/**
 * Zebra
 */

.table--zebra{

	tbody > tr:nth-child(even) > td{
		background: $color-grey;
	}
}




/**
 * Budget table
 */

.table-budget-item{
	font-size: 14px;
	td, th{
		padding: 3px;
		vertical-align: top;
	}

	th{
		color: #666;
		font-weight: normal;
		width: 160px;
		padding-left: 0;
	}
}

	.table-budget-single{
		@include font-size($base-font-size, false);

		th{
			white-space: nowrap;
			padding-right: 1em;
		}
	}